.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

body {
  font-family: Plus Jakarta Sans;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Veryightgrayishblue: hsl(210, 60%, 98%);
  --Lightgrayishblue1: hsl(211, 68%, 94%);
  --Lightrayishblue2: hsl(205, 33%, 90%);
  --Grayishblue: hsl(219, 14%, 63%);
  --Darkgrayishblue: hsl(219, 12%, 42%);
  --Verydarkblue: hsl(224, 21%, 14%);
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
}

.main {
  padding: 1.5rem 1rem;
}

.notification {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  & .title {
    color: var(--Verydarkblue);
    font-weight: 800;
    font-size: 1.25rem;
    word-spacing: 0.57rem;
  }
  & .number {
    background-color: var(--Blue);
    color: var(--White);
    display: inline-block;
    width: 2rem;
    height: 1.57rem;
    text-align: center;
    border-radius: 0.38rem;
  }
  & .action {
    color: var(--Darkgrayishblue);
    font-size: 0.88rem;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: var(--Blue);
    }
  }
}

.posts {
  background-color: var(--Veryightgrayishblue);
  border-radius: 0.5rem;
  min-width: 21.44rem;
  display: flex;
  align-items: center;
  gap: 0.83rem;
  padding: 1rem;
  font-size: 0.88rem;
  cursor: pointer;
  color: var(--Darkgrayishblue);
  margin: 0 auto 0.63rem;
  max-width: 30rem;
  & .image {
    width: 2.44rem;
    height: 2.44rem;
  }
  & .name {
    font-weight: bold;
    color: var(--Verydarkblue);
    &:hover {
      color: var(--Blue);
    }
  }
  & .reaction {
    font-weight: bold;
    &:hover {
      color: var(--Blue);
    }
  }
  & .time {
    font-size: 0.88rem;
    color: var(--Grayishblue);
    font-weight: 600;
    margin-top: 0.4rem;
  }
  & .join {
    color: var(--Blue);
    font-weight: bold;
  }
  & .message-container {
    margin-top: 0.6rem;
    border: 1px solid var(--Lightrayishblue2);
    padding: 0.5rem;
    &:hover {
      background-color: var(--Lightgrayishblue1);
    }
  }
  & .picture {
    width: 3.45rem;
    height: 3.45rem;
    margin-left: 0.7rem;
  }
}

.not-readed {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--Red);
  border-radius: 1rem;
  margin-left: 0.5rem;
}
